{% extends "base.html" %}

{% block head %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand">OkayTrack</h3>
            <nav class="nav nav-masthead justify-content-center">
                {% if not session.user_name %}
                    <a class="nav-link" href="/login">Вход</a>
                    <a class="nav-link" href="/register">Регистрация</a>
                {% else %}
                    {{ session.user_name }} | &nbsp;
                    <a class="nav-link" href="/logout">Выйти</a>
                {% endif %}
            </nav>
        </div>
    </header>
    {% if not session.user_name %}
        <div class="h-100">
            <h1>Ошибка</h1>
            <p>Вы должны войти или зарегистрироваться для просмотра задач.</p>
        </div>
    {% else %}
        <div class="text-dark">
            {% for task in tasks %}
                <div class="card mb-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>

                        <h6 class="card-subtitle">Автор: {{ task.username }}</h6>
                        <h6 class="card-subtitle">До: {{ task.deadline }}</h6>
                        {% if task.performer %}
                            <h6 class="card-subtitle">Исполнитель: {{ task.performer }}</h6>
                        {% endif %}
                        <p class="card-text">{{ task.task }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {% if ctg.category %}
                            <p>Категория: {{ ctg.category }}</p>
                        {% endif %}
                        Теги:
                        {% for tag in task.tags %}
                            <span class="border rounded">{{ tag.tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
