{% extends "base.html" %}
{% import "task_macro.html" as task_macro %}

{% block head %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if not session.user_name %}
        <div class="h-100">
            <h1>Внимание</h1>
            <p>Зарегистрируйтесь или войдите для работы в системе</p>
        </div>
    {% else %}
        {% if not my and not delegated %}
            <h3 class="text-muted">Нет задач</h3>
        {% endif %}

        {% if my %}
            <h3>Мои задачи</h3>
            {% for t in my %}
                {{ task_macro.render_task(t) }}
            {% endfor %}
        {% endif %}

        {% if delegated %}
            <h3>Задачи, делегированные мне</h3>
            {% for t in delegated %}
                {{ task_macro.render_task(t) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
