{% extends "base.html" %}

{% block head %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if not session.user_name %}
        <div class="h-100">
            <h1>Внимание</h1>
            <p>Зарегистрируйтесь или войдите для работы в системе</p>
        </div>
    {% else %}
        {% macro task(t) %}
            <div class="card mb-1 text-dark">
                <div class="card-body">
                    <h5 class="card-title">{{ t.name }}</h5>

                    <h6 class="card-subtitle">Автор: {{ t.username }}</h6>
                    <h6 class="card-subtitle">До: {{ t.deadline }}</h6>
                    {% if t.performer %}
                        <h6 class="card-subtitle">Исполнитель: {{ t.performer }}</h6>
                    {% endif %}
                    <p class="card-text">{{ t.task }}</p>
                </div>
                {% if t.tags or t.category %}
                    <div class="card-footer text-muted">
                        {% if t.category %}
                            <p>Категория: {{ ctg.category }}</p>
                        {% endif %}
                        {% if t.tags %}
                            Теги:
                            {% for tag in t.tags %}
                                <span class="border rounded">{{ tag.tag }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endmacro %}

        {% if not my and not delegated %}
            <h3 class="text-muted">Нет задач</h3>
        {% endif %}

        {% if my %}
            <h3>Мои задачи</h3>
            {% for t in my %}
                {{ task(t) }}
            {% endfor %}
        {% endif %}

        {% if delegated %}
            <h3>Задачи, делегированные мне</h3>
            {% for t in delegated %}
                {{ task(t) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
