{% extends "base.html" %}
{% import "task_macro.html" as task_macro %}

{% block body %}

{{ task_macro.render_task(task) }}

<h3>Комментарии</h3>

<div class="text-dark">
    {% for comm in comments %}
    <div class="card mb-1">
        <div class="card-header">{{ comm.username }}</div>
        <div class="card-body">
            {{ comm.comment }}
        </div>
    </div>
    {% endfor %}

    {% if user.blocked %}
        <div class="card mt-3 text-danger">
            Вы заблокированы и не можете оставлять комментарии
        </div>
    {% else %}
        <div class="card mt-3">
            <div class="card-header">Новый комментарий</div>
            <div class="card-body">
                <form method="post">
                    {{ form.hidden_tag() }}
                    {% for error in form.comment.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    {{ form.comment(class_="form-control") }}<br>
                    {{ form.submit(class_="btn btn-primary") }}
                </form>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}